
@{
    ViewBag.Title = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmación de Registro</h2>
<div class="row">
    <div class="col-md-4">
        <div class="alert-info">Te has registrado correctamente, verifica tu bandeja de entrada para confirmar el Email.</div>


    </div>

</div>
